[alias]
	n = checkout -b
	mine = rev-list --count HEAD ^main
	up = pull origin main --rebase
  hist = log --pretty=format:'%Cred%h%Creset - %Creset %s %Cgreen(%cr) %C(bold blue)[%an]%Creset' --abbrev-commit --max-count=10
  wip = !git add . && git commit -m "WIP"
  popwip = !git reset --soft head~1 && git reset head .
	mend = commit --amend
  nomend = commit --no-edit --amend
[core]
	excludesfile = ~/.gitignore_global
	editor = zed --wait
[submodule]
	recurse = true
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[rebase]
	autostash = true
[push]
	default = current
[init]
	defaultBranch = main
[rerere]
	enabled = true
[help]
	autocorrect = 10
[diff]
	algorithm = histogram
[fetch]
	prune = true
	prunetags = true
[branch]
	sort = -committerdate
[include]
	path = ~/.gitconfig.local
